@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gravitas+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

 :root{
    --font1: "Sriracha", cursive;
 }


 *{
    margin: 0px;
    padding: 0px;
    font-family: var(--font1);
 }


 html, body {
    min-height: 100vh;
    background-color: darkgray;

 }

 header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 28px;

 }

 header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }


 header > p > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
 }

 a:hover{
    text-decoration: underline;
 }

  section{
 padding-top: 10vh;
 padding-bottom: 10vh;
 line-height: 2em;
 padding-left: 30px;

  }

  section > p {
   font-size: 2.5vw;
   padding-bottom: 1em;
  }
 section.normal{
 background-color: white;
 color: black;

 
 }

 section.imagem{
    background-color: black;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgb(29, 29, 29);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
   

 }

 section.imagem > p {
    background-color:rgb(0, 0, 0, 0.512);
     display: inline-block;
     text-shadow: 1px 1px 0px black;
     border-radius: 5px 5px;
     
}

 section#img01{
 background-image: url(../imagens/background001.jpg);
 background-position: right center;


}

section#img02{
 background-image: url(../imagens/background002.jpg);
  background-position: center right;
 
}

 section#img03{
 background-image: url(../imagens/background001.jpg);
 background-position: center right;
 
}

 footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px;
 }